.button{
    -fx-background-color: #6F71AC;
    // C3842B//#a56f24 good orange - dark//
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;

}
#rootCreateNoteBox{
    -fx-background-color: white;
    // dark grey #6E6E6E//
}